<html>
  <head>
    <title>Hastur Stats</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://people.iola.dk/olau/flot/jquery.flot.js"></script>
    <script type="text/javascript" src="http://people.iola.dk/olau/flot/jquery.flot.selection.js"></script>
    <script type="text/javascript" src="http://people.iola.dk/olau/flot/jquery.flot.navigate.js"></script>
    <script type="text/javascript" src="/js/flot_utils.js"></script>

    <style type="text/css">
      #placeholder .button {
        position: absolute;
        cursor: pointer;
      }
      #placeholder div.button {
        font-size: smaller;
        color: #999;
        background-color: #eee;
        padding: 2px;
      }
    </style>
  </head>
  <body>
    <span onclick="addGraph( 'graphDiv' )"> + </span>
    <div id="graphDiv"></div>
  <!--
    <div id="flotWidget">
      <span>Hosts</span>
      <select id="hostname_ddl">
        <% hostnames.each do |uuid, hostname| %>
          <option value=<%= "\"#{uuid}\"" %>><%= "\"#{hostname}\"" %></option>
        <% end%>
      </select>
      <span>Stats</span>
      <select id="statNameDdl"></select>
  	  <input id="enableTooltip" type="checkbox" checked="checked">Tooltip</input>
    </div>
   
    <div>
      <span>Zoom</span>
      <span id="oneHour" style="color:lightblue">1h</span>
      <span id="threeHour" style="color:lightblue">3h</span>
      <span id="sixHour" style="color:lightblue">6h</span>
      <span id="twelveHour" style="color:lightblue">12h</span>
      <span id="day" style="color:lightblue">1d</span>
      <span id="threeDay" style="color:lightblue">3d</span>
    </div>

    <div id="placeholder" style="width:1000px;height:500px"></div>
  	<div>
      <button id="full_refresh">Full Refresh</button>
      <button id="replot">Re-plot</button>
    </div>
    -->

  </body>
</html>
