<html>
  <head>
    <title>Hastur Stats</title>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
   
    <script type="text/javascript" src="http://people.iola.dk/olau/flot/jquery.flot.js"></script>
    <script type="text/javascript" src="http://people.iola.dk/olau/flot/jquery.flot.selection.js"></script>
    <script type="text/javascript" src="http://people.iola.dk/olau/flot/jquery.flot.navigate.js"></script>
    
    <script type="text/javascript" src="/js/flot_utils.js"></script>

    <style type="text/css">
      #placeholder .button {
        position: absolute;
        cursor: pointer;
      }

      #placeholder div.button {
        font-size: smaller;
        color: #999;
        background-color: #eee;
        padding: 2px;
      }

      ul li { 
        padding: 0.5em 0.5em 0.5em 0.5em; 
        list-style: none;
        border: dotted 1px gray; 
        margin: 0.2em 0.2em 0.2em 0.2em;
        width: 500px;
        float: left;
        list-style-type: none; 
      }

      ul { 
        padding-left:0.25em; 
      }

      .ui-state-highlight {
        height: 325px;
        line-height: 1.2em;
        background-color: yellow;
      }

      .headerSpan {
        padding-right: 5px;
        padding-left: 5px;
      }

      input.text {
        margin-bottom:12px;
        width:95%;
        padding: 0.4em;
      }
    </style>

    <script>
      var graphArray = new Array();
      function addGraph(parentId, graphId, opts) {
        var graphId = graphId ? graphId : "graph-"+(new Date()).getTime();
        var hf = new HasturFlot(parentId, graphId, opts);
        hf.init();
        graphArray[ graphArray.length ] = hf;
      }

      function clearGraphs( parentId ) {
        $("#" + parentId).find("li").remove();
        graphArray = new Array();
      }

      $(function() {
        $( "#graphDiv" ).sortable( {
          placeholder: "ui-state-highlight",
          forcePlaceholderSize: true
        } );
        $( "#graphDiv" ).disableSelection();

        $("#save-form").hide();
        $("#messageDiv").hide();
//        $("#availableDashboardDiv").hide();

        $("#saveImg").click(function() {
          $("#save-form").show(1000);
        });
        $("#saveButton").click(function() {
          var dashboardName = escape($("#dashboardName").val());
          var serializedData = JSON.stringify(graphArray);
          var arry = JSON.parse(serializedData);
          $.ajax({
            type:"post",
            url: "/dashboard/"+dashboardName,
//            dataType: 'json',
            data: { 'data': serializedData },
            success:function(data, status) {
              // TODO(viet): refresh list of available dashboards

              // fade in successful message
              fadeMessage($("#dashboardName").val() + " successfully saved", "green");
            },
            error: function(xhr, error, exception) {
              console.debug("AJAX failed on " + url + ":" + exception);
            }
          });
        });
        
        // retrieve the available dashboards
        refreshDashboardList();
        // load the dashboard if possible
        loadDashboard();

        $("#dashboardList").change(function() {
          var dashboardName = escape($("#dashboardList").val());
          window.location.replace("/?dashboardname="+dashboardName);
        });
      });

      function loadDashboard() {
        var tokens = window.location.href.split("/");
        tokens = tokens[tokens.length - 1].split("?")
        var fullParams = tokens[tokens.length - 1].split("&");
        var dashboardName = false;
        for(var i = 0 ; i < fullParams.length; i++) {
          var key = fullParams[i].split("=")[0];
          if(key == "dashboardname") {
            dashboardName = fullParams[i].split("=")[1];
          }
        }
        // update the dashboard with the graphs if a saved dashboard is specified in the query string param
        if(dashboardName) {
          var url = "/dashboard/" + dashboardName;
          $.ajax({
            type: "get",
            url: url,
            dataType: "json",
            success:function(data, status) {
              var arry = JSON.parse(JSON.parse(data['data']));
              clearGraphs("graphDiv");
              for(e in arry) {
                addGraph("graphDiv", "graph-"+(new Date()).getTime(), arry[e]);
              }  
            },
            error:function(xhr, error, exception) {
              console.error("AJAX failed on " + url + ":" + exception);
            }
          });
        }
      }

      function refreshDashboardList() {
        $.ajax({
          type:"get",
          url:"/dashboardnames",
          dataType: "json",
          success:function(data, status) {
            // clear the drop down list
            $("#dashboardList").find('option').remove();
            $("#dashboardList").append("<option>----</option>");

            // populate the drop down with the dashboard names
            var dashboardNames = data["dashboardNames"]
            for(var i = 0 ; i < dashboardNames.length; i++) {
              $("#dashboardList").append("<option value=\"" + dashboardNames[i] + "\">" + dashboardNames[i] + "</option>");
            }
          },
          error:function(xhr, error, exception) {
            console.debug("AJAX failed on " + url + ":" + exception);
          }
        });
      }

      function fadeMessage(message, color) {
        $("#message").text(message);
        $("#message").css("color", color);
        $("#messageDiv").show(1000).delay(2000).hide(500);
      }
    </script>
  </head>
  <body>
    <div id="messageDiv" style="text-align:center">
      <span id="message"></span>
    </div>
    <div id="dashboardControlsDiv">
      <span onclick="addGraph( 'graphDiv' )"> <b>+</b> </span>
      <img id="saveImg" name="Save", src="/images/save.jpg" border=0 width=10px height=10px />

      <div id='save-form' title="Save Dashboard">
        <label for="name">Name</label>
        <input type="text" id="dashboardName" name="name" maxLength="128" size="64" />
        <button id="saveButton">Save Dashboard</button>
      </div>

      <div id="availableDashboardDiv">
        <select id="dashboardList">
        </select>
      </div>
    </div>

    <ul id="graphDiv"></ul>
    <ul id="graphDiv2"></ul>
  <!--
    <div id="flotWidget">
      <span>Hosts</span>
      <select id="hostname_ddl">
        <% hostnames.each do |uuid, hostname| %>
          <option value=<%= "\"#{uuid}\"" %>><%= "\"#{hostname}\"" %></option>
        <% end%>
      </select>
      <span>Stats</span>
      <select id="statNameDdl"></select>
  	  <input id="enableTooltip" type="checkbox" checked="checked">Tooltip</input>
    </div>
   
    <div>
      <span>Zoom</span>
      <span id="oneHour" style="color:lightblue">1h</span>
      <span id="threeHour" style="color:lightblue">3h</span>
      <span id="sixHour" style="color:lightblue">6h</span>
      <span id="twelveHour" style="color:lightblue">12h</span>
      <span id="day" style="color:lightblue">1d</span>
      <span id="threeDay" style="color:lightblue">3d</span>
    </div>

    <div id="placeholder" style="width:1000px;height:500px"></div>
  	<div>
      <button id="full_refresh">Full Refresh</button>
      <button id="replot">Re-plot</button>
    </div>
    -->

  </body>
</html>
